.header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  border-color: #00000033;
  border-style: solid;
  border-bottom-width: 0.0625rem;
  height: 56px;
  flex-wrap: nowrap;
}
.header-navbar .search-bar-section > div:first-child {
  width: 100%;
}
.header-navbar .search-bar-section .search-bar-wrapper {
  position: relative;
  width: 100%;
  max-width: 750px;
  height: 40px;
  border-radius: 1.25rem;
  background-color: #e5ebee;
  margin: 0 auto;
  display: flex;
  padding: 0 1rem;
}
.header-navbar .search-bar-section .search-bar-wrapper .search-icon {
  display: inline-flex;
  font-size: 1rem;
  align-items: center;
  margin-right: 0.5rem;
}
.header-navbar .search-bar-section .search-bar-wrapper .search-form input {
  width: 100%;
  height: 100%;
  border: none;
  background: rgba(255, 255, 255, 0);
  font-weight: 400;
  outline: none;
}
.header-navbar .header-right-section {
  padding-left: 1.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}
.header-navbar .header-right-section .login-button {
  background-color: #d93900;
  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  border: 0.0625rem solid transparent;
  color: #ffffffff;
  font-size: 0.875rem;
  font-weight: 600;
}
.header-navbar .header-right-section .login-button:hover {
  background-color: #ae2c00;
}
.header-navbar .header-right-section .tools-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.header-navbar .header-right-section .tools-wrapper button {
  background-color: transparent;
  color: var(--color-button-plain-text);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  display: inline-flex;
  height: 100%;
  align-items: center;
  border-radius: 999px;
  border: none;
  font-size: 1em;
}
.header-navbar .header-right-section button:hover {
  background-color: #dbe4e9;
}
.header-navbar .header-right-section button:active {
  background-color: #c9d7de;
}
.header-navbar .header-right-section .dropdown-menu {
  min-width: 256px;
}
.header-navbar .header-right-section .dropdown a {
  color: var(--color-secondary);
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
.header-navbar .header-right-section .dropdown a .dropdown-item-icon {
  border-radius: 624.9375rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-navbar .header-right-section .dropdown a .dropdown-item-icon img {
  border-radius: 624.9375rem;
  width: 32px;
  height: 32px;
}
.header-navbar .header-right-section .dropdown a:active {
  background-color: #00000026;
}
.header-navbar .header-right-section .profile-settings .btn.profile-btn {
  border-radius: 624.9375rem;
  padding: 0 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  overflow: visible;
}
.header-navbar .header-right-section .profile-settings .btn.profile-btn:after {
  display: none;
}
@media (min-width: 1200px) {
  .header-navbar .search-bar-section > div:first-child {
    width: 560px;
  }
}
